.reveal span.question {
    display: block;
    font-weight: bold;
}

.reveal span.answer {
    display: block;
    font-weight: normal;
}

.reveal code {
	display: inline-block;
	padding: 0 1rem;
	margin: 0 1rem;
	border: 1px dashed white;
}